# **************************************************************************** #
#                                    Build                                     #
# **************************************************************************** #

# Object files
*.o

# Static libraries
*.a

# Executables
gnl_test
test_gnl
a.out

# **************************************************************************** #
#                                   Debug                                      #
# **************************************************************************** #

# Valgrind
vgcore.*
valgrind.log
valgrind-out.txt

# Debug symbols
*.dSYM/

# **************************************************************************** #
#                                   Editors                                    #
# **************************************************************************** #

.vscode/
.idea/

*.swp
*.swo
*~

# **************************************************************************** #
#                                 Tooling                                      #
# **************************************************************************** #

compile_commands.json

# **************************************************************************** #
#                                 Coverage                                     #
# **************************************************************************** #

*.gcda
*.gcno
*.gcov

# **************************************************************************** #
#                                 OS / System                                  #
# **************************************************************************** #

.DS_Store
Thumbs.db
